<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arrya's Apps</title>
</head>
<body>
    <a href="#content" class="skip-link">Skip to content ?</a>

    <div class="menumob">
        <div class="iconmenu" id="menu"><a href="#">&#9776;</a></div>
        <div class="logomob">Ateng's Restaurant</div>
        <div class="logomob">&nbsp;</div>
    </div>
    <nav id="drawer" class="navmob">
        <ul class="navlistmob">
            <li class="navitemsmob"><a href="">Home</a></li>
            <li class="navitemsmob"><a href="#">Favorite</a></li>
            <li class="navitemsmob"><a target="_blank" href="https://www.linkedin.com/in/arryadali/">About Us</a></li>
        </ul>
    </nav>

    <nav class="nav">
        <a class="logo" href="">Arrya's Apps</a>
        <ul class="navlist">
            <li class="navitems"><a href="">Home</a></li>
            <li class="navitems"><a href="#">Favorite</a></li>
            <li class="navitems"><a target="_blank" href="https://www.linkedin.com/in/arryadali/">About Us</a></li>
        </ul>
    </nav>

    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_1.jpg');">
        <div class="heroinner">
            <h1 class="herotitle">Arrya's Apps</h1>
            <p class="herosubtitle">Find the fantastic restaurant in the world!</p>
        </div>
    </div>

    <main id="content">
        <section class="content">
            <div class="latest">
                <h1>Explore Restaurant</h1>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>

    <footer>
        <p> Copyright © 2020 Arrya's Apps</p>
    </footer>
</body>
</html>